<% @title = 'Log in' %>
<article>
  <h1>Please log in</h1>
  <%= form_for @session, :url => user_sessions_path do |f| %>
  <dl>
    <dt><%= f.label :password %></dt>
    <dd><%= f.password_field :password %></dd>
  </dl>
  <p class="submit"><%= submit_tag 'Log in' %></p>
  <% end %>
</article>
